#contentParent * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position:  top center;
}

#contentParent.closed-chat{
	width: 0;
	height: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	cursor: pointer;
}
#contentParent.closed-chat:before{
	left: auto;
	right: 30px;
	top: auto;
	bottom: 30px;
	width: 75px;
	height: 77px;
}
#contentParent.closed-chat:after{
	content: "Posso te ajudar?";
    font-size: 12px;
    position: absolute;
    right: 13px;
    bottom: 10px;
    width: 100px;
}

#contentParent div {
  word-wrap: break-word;
}

#contentParent #view-change-button {
  display: inline-block;
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: #A11D14;
  top: 0.3125rem;
  right: 0.3125rem;
  line-height: 3.125rem;
  vertical-align: middle;
}

#contentParent #view-change-button img {
  display: none;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#contentParent #view-change-button:not(.full) .not-full {
  display: inline-block;
}

#contentParent #view-change-button.full .full {
  display: inline-block;
}

#contentParent {
	height: 370px;
	position: fixed;
    bottom: 0;
	right: 50px;
}

#contentParent:before{
	content: "";
	width: 112px;
	height: 115px;
	background-image: url("../img/ufes2.png");
	background-size: cover;
	position: absolute;
	left: -30px;
	top: -41px;
	z-index: 1;
}

#contentParent button.close{
	opacity: 1;
	position: absolute;
    top: 8px;
    right: 10px;
    z-index: 1;
}

#contentParent button.close span{
	text-shadow: none;
	color: white;
	font-size: 12px;
}

#contentParent.responsive-columns-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-display: flex;
  -ms-flex-direction: row;
}

#contentParent .responsive-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}

#contentParent #chat-column-holder {
  text-align: center;
}

#contentParent .chat-column {
  height: 100%;
  padding: 0;
  background-color: #fff;
  text-align: left;
  width: 350px;
  position: relative;
    border-top: solid 1px #006BB7;
    border-left: solid 1px #006BB7;
    border-right: solid 1px #006BB7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#contentParent .chat-header{
    padding: 7px 10px;
    background-color: #004B82;
    color: #fff;
	width: 100%;
    font-size: 14px;
	position: relative;
	display: block !important;
	border: solid 1px #004B82;
    cursor: pointer;
}

#contentParent .chat-header > span{
	padding-left: 80px;
}
#contentParent.no-height .chat-header span{
	padding-left: 0;
}

#contentParent #scrollingChat {
    margin: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 85px);
    padding-top: 40px;
}

#contentParent .message-inner {
  opacity: 0;
  margin-top: 0.9375rem;
  -webkit-transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: opacity, margin-top;
  -moz-transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: opacity, margin-top;
  -o-transition-duration: 0.75s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: opacity, margin-top;
  -ms-transition-duration: 0.75s;
  -ms-transition-timing-function: ease-in;
  transition-property: opacity, margin-top;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
}
#contentParent .message-inner p{
    line-height: 1.5;
}
#contentParent .areaList li{
	font-size: 12px;
}

#contentParent .load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}

#contentParent .from-user {
  text-align: right;
}

#contentParent .from-user .message-inner {
  position: relative;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #004B82;
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  text-align: left;
  display: inline-block;
  margin-left: 2.5rem;
  min-width: 2.5rem;
}

#contentParent .from-user .message-inner p {
  margin: 0.3125rem;
  padding: 0 0.9375rem;
}

#contentParent .from-user .message-inner:before, #contentParent .from-user .message-inner:after {
  content: "";
  position: absolute;
}


#contentParent .from-user .message-inner:before {
  z-index: -2;
  bottom: -0.375rem;
  right: 0;
  height: 0.375rem;
  width: 0.5rem;
  background: #A11D14;
}

#contentParent .from-user .message-inner:after {
  z-index: -1;
  bottom: -0.5rem;
  right: 0;
  height: 0.5rem;
  width: 0.5rem;
  background: #fff;
  border-top-right-radius: 1.25rem;
}

#contentParent .from-watson .message-inner {
  position: relative;
  border-radius: 1.5625rem;
  font-size: 14px;
  color: #B5B5B5;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
}
#contentParent .from-watson.latest.top p:before {
  content: ".";
  color: #A11D14;
  background-image: url("../img/marker_image.png");
  background-size: cover;
  position: absolute;
  z-index: 2;
  left: 3px;
  width: 4px;
  height: 18px;
}
#contentParent .from-watson.latest .message-inner {
  color: #323232;
}

#contentParent .from-watson p {
  margin: 0.3125rem;
  padding: 0 20px;
}

#contentParent #textInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #323232;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  height: 30px;
  font-weight: 400;
  max-width: 100%;
  padding-left: 0.125rem;
  margin-bottom: -0.125rem;
  font-family: Arial, sans-serif;

}

#contentParent #textInput.underline {
  border-bottom: 2px solid #A11D14;
}

#contentParent ::-webkit-input-placeholder {
  color: #B5B5B5;
}

#contentParent ::-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

#contentParent input:-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

#contentParent :-ms-input-placeholder {
  color: #B5B5B5;
}

#contentParent ::-ms-clear {
  display: none;
}

#contentParent .inputOutline {
  display: block;
  border-bottom: 0.0625rem solid #aeaeae;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
}

#textInputDummy {
  position:absolute;
  white-space:pre;
  top: 0;
  left: -1000%;
  opacity: 0;
}

#gabModal img{
	max-width: 100%;
}


@media (max-width: 1200px) {
  #contentParent{
    height: 450px;
  }
  #contentParent .chat-column{
    width: 450px;
    box-shadow: 10px 10px 5px grey;
  }
  #contentParentp{
    font-size: 17px;
    line-height: 1.5;
  }
  #contentParent .chat-header > span{
    font-size: 18px;
  }
  #contentParent #textInput{
    font-size: 17px;
  }
}

@media (max-width: 768px){
  #contentParent .chat-column{
    width: 300px;
  }

  #contentParent {
    right: 20px;
  }
}

.fade.in {
  opacity: 1;
}

.btn {
  background: #A11D14;
  border: none;
}

.btn:hover{
  background: rgb(189, 22, 14);
  border: none;
}